.logo {
  font-weight:700px;
  font-size:25px;
  letter-spacing: 10px;
}

.fiapLogo {
  font-size:20px;
  color:#ed145b;
  font-weight:400;
}

.header {
  position:fixed;
  padding:20px 40px;
  top:0;
  z-index:999;
  width:100%;
  display:flex;
  align-items:center;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(0,0,0), rgba(0,0,0,0)); 
  animation: fadeInDown .9s ease-in-out;
}

@keyframes fadeInDown {
  0% {
    transform:translateY(-100px)
  }
  100% {
    transform:translateY(0)
  }
}

