.sprint {
  display:flex;
  align-items:center;
  margin:70px 0;
  flex-direction:column;
}

.title {
  font-size:40px;
  text-transform:uppercase;
  text-shadow:-2px 2px black, -4px 4px #631414;
}

.subTitle {
  font-family: "space grotesk";
  color:rgba(255, 255, 255, 1);
  font-weight:300;
}

.description {
  color:#d6d6d6;
  line-height:1.5;
  font-size:17px;
}
.sprintContentColumn {
  padding:40px;
  width:50%;
}

@media (max-width:768px) {
  .sprintContentColumn {
    width:100%;
  }
}
