.main {
  z-index:2;
  position: relative;
}

.background {
  z-index: 1;
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background:linear-gradient(135deg, rgb(0, 0, 0, .9), rgb(22, 22, 22, .9) 100%), url("../assets/images/background.png");
}

.sideLorem {

}